/* Estilos generales para la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Estilos para el menú lateral (.sidenav) */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3498db; /* Color de fondo azul */
    padding-top: 20px;
    transition: width 0.3s; /* Efecto de transición en el ancho */
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff; /* Color de texto blanco */
    display: block;
    transition: background-color 0.3s; /* Efecto de transición al pasar el mouse */
}

.sidenav a:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el contenido principal (.content) */
.content {
    margin-left: 250px;
    padding: 20px;
}

/* Estilos específicos para la página "Listar Empleados" */
.content h1 {
    font-size: 24px;
    color: #333; /* Color de texto principal */
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555; /* Color de texto secundario */
}

.table-container {
    max-height: 400px; /* Altura máxima de la tabla antes de que aparezca la barra de desplazamiento */
    overflow-y: auto; /* Hace que la tabla sea scrollable verticalmente */
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para las filas y celdas de la tabla */
table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

form {
    text-align: center; /* Centra los elementos del formulario horizontalmente */
}

label {
    display: block; /* Muestra el label en una línea nueva */
    margin-bottom: 10px; /* Espacio entre el label y el input box */
}

input[type="text"] {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px; /* Espaciado interior del input box */
    margin: 0 auto; /* Centra el input box horizontalmente */
    display: block; /* Muestra el input box en una línea nueva */
}

/* Estilos para el botón */
input[type="submit"] {
    margin-top: 10px; /* Espacio superior entre el input box y el botón */
    display: block; /* Muestra el botón en una línea nueva */
}