body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3498db;
    padding-top: 20px;
    transition: width 0.3s;
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: background-color 0.3s;
}

.sidenav a:hover {
    background-color: #2980b9;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    color: #333;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #3498db;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.top-bar {
    background-color: #084066;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar .top-bar-icons {
    display: flex;
    align-items: center;
}

.top-bar .top-bar-icons a {
    margin-left: 20px;
}

.profile-bubble {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 0.3s;
    overflow: hidden;
    margin-left: 20px;
}

.profile-picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-bubble:hover {
    background-color: #282f34;
}