/* Estilos generales para la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el menú lateral (.sidenav) */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3498db;
    /* Color de fondo azul */
    padding-top: 20px;
    transition: width 0.3s;
    /* Efecto de transición en el ancho */
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    /* Color de texto blanco */
    display: block;
    transition: background-color 0.3s;
    /* Efecto de transición al pasar el mouse */
}

.sidenav a:hover {
    background-color: #2980b9;
    /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el contenido principal (.content) */
.content {
    margin-left: 250px;
    padding: 20px;
}


.top-bar {
    background-color: #084066;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar .top-bar-icons {
    display: flex;
    align-items: center;
}

.top-bar .top-bar-icons a {
    margin-left: 20px;
}

/* Estilos para la burbuja de imagen de perfil */
.profile-bubble {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 0.3s;
    overflow: hidden;
    margin-left: 20px;
}

.profile-picture {
    width: 100%;
    /* Ancho de la imagen de perfil */
    height: auto;
    /* Altura automática para proporción */
    border-radius: 50%;
    /* Forma redonda */
}

.profile-bubble:hover {
    background-color: #282f34;
}