<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Departamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/crear_departamento.css') }}">
</head>
<body>

<div class="sidenav">
    <a href="/">Regresar</a>
    <a href="/listar_departamentos">Listar Departamentos</a>
    <a href="/listar_empleados_departamento">Empleados Por Departamentos</a>
    <a href="/crear_departamento">Añadir Nuevo Departamento</a>
    <a href="/actualizar_departamento">Actualizar Información de Departamento</a>
    <a href="/eliminar_departamento">Eliminar Departamento</a>
</div>

<div class="content">
    <h1>Crear Nuevo Departamento</h1>
    <form action="/crear_departamento" method="post">
        <label for="dept_id">ID del Departamento:</label>
        <input type="text" id="dept_id" name="dept_id" required>
        <br>
        <label for="nombre">Nombre del Departamento:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="description">Descripción del Departamento:</label>
        <textarea id="description" name="description" rows="4"></textarea>
        <br>
        <input type="submit" value="Crear Departamento">
    </form>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Department ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for dept in departamentos %}
                    <tr>
                        <td>{{ dept.dept_id }}</td>
                        <td>{{ dept.nombre }}</td>
                        <td>{{ dept.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if mensaje %}
    <script>
        // Muestra una alerta con el mensaje
        alert("{{ mensaje }}");
    </script>
    {% endif %}
</div>

</body>
</html>
