<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/crear_empleado.css') }}">
</head>

<body>

    <div class="sidenav">
        <a href="/">Regresar</a>
        <a href="/listar_empleados">Listar Empleados</a>
        <a href="/buscar_empleado">Buscar un Empleado</a>
        <a href="/crear_empleado">Añadir Nuevo Empleado</a>
        <a href="/actualizar_empleado">Actualizar Información de Empleado</a>
        <a href="/eliminar_empleado">Eliminar Empleado</a>
    </div>

    <div class="top-bar">
        <div class="brand">Prototipo Manejo de Empleados</div>
        <div class="top-bar-icons">
            <div class="profile-bubble">
                <img src="{{ url_for('static', filename='test_images/sample_settings.jpg') }}" alt="Settings"
                    class="profile-picture">
            </div>
            <div class="profile-bubble">
                <img src="{{ url_for('static', filename='test_images/sample_user_profile.jpg') }}"
                    alt="Imagen de Perfil" class="profile-picture">
            </div>

        </div>
    </div>

    <div class="content">
        <h1>Añadir Nuevo Empleado</h1>
        <form action="/crear_empleado" method="post">
            <label for="firstname">Nombre:</label>
            <input type="text" id="firstname" name="firstname" required>
            <br>
            <label for="lastname">Apellido:</label>
            <input type="text" id="lastname" name="lastname" required>
            <br>
            <br>
            <label for="birthday">Fecha de Nacimiento:</label>
            <input type="date" id="birthday" name="birthday">
            <br>
            <br>
            <label for="department_id">ID del Departamento:</label>
            <input type="text" id="department_id" name="department_id" required>
            <br>
            <input type="submit" value="Crear Empleado">
        </form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Department ID</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dept in departamentos %}
                    <tr>
                        <td>{{ dept.dept_id }}</td>
                        <td>{{ dept.nombre }}</td>
                        <td>{{ dept.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if mensaje %}
        <script>
            // Muestra una alerta con el mensaje
            alert("{{ mensaje }}");
        </script>
        {% endif %}
    </div>

</body>

</html>