<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Departamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/eliminar_departamento.css') }}">
</head>

<body>

    <div class="sidenav">
        <a href="/">Regresar</a>
        <a href="/listar_departamentos">Listar Departamentos</a>
        <a href="/listar_empleados_departamento">Empleados Por Departamentos</a>
        <a href="/crear_departamento">Añadir Nuevo Departamento</a>
        <a href="/actualizar_departamento">Actualizar Información de Departamento</a>
        <a href="/eliminar_departamento">Eliminar Departamento</a>
    </div>

    <div class="top-bar">
        <div class="brand">Prototipo Manejo de Empleados</div>
        <div class="top-bar-icons">
            <div class="profile-bubble">
                <img src="{{ url_for('static', filename='test_images/sample_settings.jpg') }}" alt="Settings"
                    class="profile-picture">
            </div>
            <div class="profile-bubble">
                <img src="{{ url_for('static', filename='test_images/sample_user_profile.jpg') }}"
                    alt="Imagen de Perfil" class="profile-picture">
            </div>

        </div>
    </div>

    <div class="content">
        <h1>Eliminar Departamento</h1>
        <form action="/eliminar_departamento" method="post">
            <label for="dept_id">ID del Departamento a Eliminar:</label>
            <input type="text" id="dept_id" name="dept_id" required>
            <br>
            <input type="submit" value="Eliminar Departamento">
        </form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Department ID</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dept in departamentos %}
                    <tr>
                        <td>{{ dept.dept_id }}</td>
                        <td>{{ dept.nombre }}</td>
                        <td>{{ dept.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if mensaje %}
        <script>
            // Muestra una alerta con el mensaje
            alert("{{ mensaje }}");
        </script>
        {% endif %}
    </div>

</body>

</html>