<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manejo de Empleados y Departamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="/manage_employees" class="button">Manejar Empleados</a>
        <a href="/manage_departments" class="button">Manejar Departamentos</a>
    </div>
</body>
</html>
