<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú lateral</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/manage_departments.css') }}">
</head>
<body>

<div class="sidenav">
    <a href="/">Regresar</a>
    <a href="/listar_departamentos">Listar Departamentos</a>
    <a href="/listar_empleados_departamento">Empleados Por Departamentos</a>
    <a href="#">Añadir Nuevo Departamento</a>
    <a href="#">Actualizar Información de Departamento</a>
    <a href="#">Eliminar Departamento</a>
</div>

<div class="content">
    <!-- Aquí puedes colocar el contenido principal de tu página -->
    <h1>Bienvenido al sistema de gestión de departamentos</h1>
    <p>Selecciona una opción del menú lateral para comenzar.</p>
</div>

</body>
</html>
