<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manejar Empleados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/manage_employees.css') }}">
</head>

<body>

    <div class="sidenav">
        <a href="/">Regresar</a>
        <a href="/listar_empleados">Listar Empleados</a>
        <a href="/buscar_empleado">Buscar un Empleado</a>
        <a href="/crear_empleado">Añadir Nuevo Empleado</a>
        <a href="/actualizar_empleado">Actualizar Información de Empleado</a>
        <a href="/eliminar_empleado">Eliminar Empleado</a>
    </div>

    <div class="top-bar">
        <div class="brand">Prototipo Manejo de Empleados</div>
        <div class="top-bar-icons">
            <div class="profile-bubble">
                <img src="{{ url_for('static', filename='test_images/sample_settings.jpg') }}" alt="Settings"
                    class="profile-picture">
            </div>
            <div class="profile-bubble">
                <img src="{{ url_for('static', filename='test_images/sample_user_profile.jpg') }}"
                    alt="Imagen de Perfil" class="profile-picture">
            </div>

        </div>
    </div>

    <div class="content">
        <!-- Aquí puedes colocar el contenido principal de tu página -->
        <h1>Bienvenido al sistema de gestión de empleados</h1>
        <p>Selecciona una opción del menú lateral para comenzar.</p>
    </div>

</body>

</html>